.env
.venv
build
__pycache__
.pytest_cache
.next
node_modules
out
user_data
app_data
tmp
debug
.fastembed_cache
my-doc.txt
.vscode
.kiro/specs
database
.claude
CLAUDE.md
fastembed_vectorstore/
# temp.*
generated_models
servers/fastapi/data
servers/fastapi/example_web_search_usage.py
servers/fastapi/tests
servers/fastapi/nltk/

nltk
chroma
container.db
.next-build
.cursor
mineru.json
start-dev.js
temp
temp*
.DS_Store